
#root main.user-profile-main {
  margin: 5% auto;
  min-height: 56.5vh;
  max-width: 80%;
  background-color: white;
  border: 1px solid;
  .nav-link{
    margin: 1% 0;
    font-weight: bold;
  }

  .nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
    border: none;
  }
  .link-border-left{
    border-left: 1px solid black;
    border-top-left-radius: 0;

  }

  .link-border-left:hover{
    border-left: 1px solid black;
  }

  section.content-wrapper {
    padding: 5%
  }
}

.user-info-table {
  .job-page-details .table-wrapper td:first-of-type {
    font-weight: bolder;
    text-decoration: underline;
  }
}
